.navBar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 20%;
    width: 100%;
    color: aliceblue;
    text-decoration: aliceblue;
    text-decoration-color: aliceblue;
    
}
.webTitle{
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    
}

